---
title: Le Wagon 2-hour workshop
---

<%= partial "components/banner" %>


<div class="container-fluid readme">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <section class="readme-section">
        <h2 class="readme-header">Create a new project</h2>
        <p>Let's create a new project for your profile page</p>
        <code>
          cd ~/code/USERNAME
          mkdir profile
        </code>
        <p>Copy and paste your index.html, style.css files and images folder in this new profile folder.</p>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">Create the Github repo</h2>
        <p>Init a git repo, commit your changes, add a remote origin, push it</p>
        <code>
          cd ~/code/USERNAME/profile
          git init
          git add .
          git commit -m "my profile page"
          git remote add origin git@github.com:USERNAME/YOURREPO.git
          git push -u origin master
        </code>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">2. Add some HTML content</h2>
        <ul>
          <li>
            To save time, just right-click on the following images and save them in your <code>images</code> folder
            <ul class="list-inline features">
              <li><img src="images/17hi.png" alt=""></li>
              <li><img src="images/airbnb.png" alt=""></li>
              <li><img src="images/sketch.png" alt=""></li>
            </ul>
          </li>
          <li>Then start with this HTML code in <code>index.html</code></li>
        </ul>
<pre><code>
  &lt;html&gt;
    &lt;head&gt;
      &lt;meta charset="utf-8"&gt;
      &lt;title&gt;Your name comes here&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
      &lt;h1&gt;Your name here&lt;/h1&gt;
      &lt;p&gt;The position you have/look for&lt;/p&gt;
      &lt;h2&gt;Things I like&lt;/h2&gt;
      &lt;img src="images/sketch.png" alt="picture description"&gt;
      &lt;h3&gt;Sketch app&lt;/h3&gt;
      &lt;p&gt;Forget about Photoshop: Sketch gives you the power, flexibility and speed you always wanted in a lightweight and easy-to-use design app. Finally you can focus on what you do best&lt;/p&gt;
      &lt;a href="https://www.sketchapp.com/"&gt;Download sketch&lt;/a&gt;

      &lt;img src="images/17hi.png" alt="picture description"&gt;
      &lt;h3&gt;17Hi&lt;/h3&gt;
      &lt;p&gt;A night out in Shanghai and plenty of bars await. Sifting through the countless choices, how do you where to find that perfect drink? Join 17Hi club. Enjoy one free cocktail every day at bars on this app.&lt;/p&gt;
      &lt;a href="https://itunes.apple.com/us/app/17hi/id1175998644?mt=8/"&gt;Download 17Hi&lt;/a&gt;

      &lt;img src="images/airbnb.png" alt="picture description"&gt;
      &lt;h3&gt;Airbnb&lt;/h3&gt;
      &lt;p&gt;A worldwide online community marketplace that connects people looking to rent their homes with travelers who are looking for accommodations.&lt;/p&gt;
      &lt;a href="https://www.airbnb.com/rooms/9289518"&gt;Stay at my place&lt;/a&gt;


    &lt;/body&gt;
  &lt;/html&gt;
</code></pre>
        <h3>Go further at home</h3>
        <ul>
          <li>You can pick your icons on <a href="https://thenounproject.com/" target="_blank">The Noun Project</a> or <a href="http://iconmonstr.com/" target="_blank">IconMonstr</a>.</li>
          <li><strong>Tips</strong>: Also stay tuned checking <a href="https://www.producthunt.com/search?q=icons" target="_blank">icon resources on Product Hunt</a></li>
        </ul>
      </section>

      <section class="readme-section">
        <h2 class="readme-header">3. CSS for fonts & colors</h2>
        <p>Link your stylesheet <code>style.css</code> in the <code>head</code> section of your HTML</p>


<pre><code>
  &lt;head&gt;
    &lt;link rel="stylesheet" href="style.css"&gt;
  &lt;/head&gt;
</code></pre>
        <p>Then copy/paste the CSS code below in <code>style.css</code> and <strong>fix it</strong> cause it's ugly</p>
        <ul>
          <li>For fonts use <a href="https://www.google.com/fonts" target="_blank">Google Fonts</a> (Requires VPN) - Google now directly serves the css and font files from Google’s servers <strong>in Beijing</strong>, which means Google Fonts are much more stable and faster to users in China now.</li>
          <li>For colors use <a href="http://www.colorzilla.com/chrome/" target="_blank">Colorzilla Chrome plugin</a> to pick colors from other websites</li>
          <li>You can also find beautiful colors on <a href="https://coolors.co/" target="_blank">Coolors</a> or <a href="http://colorhunt.co/" target="_blank">Color Hunt</a></li>
        </ul>
<pre><code>
/* style.css */
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 15px;
  font-family: Helvetica;
  margin: 0 auto;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: bolder;
  font-size: 30px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
</code></pre>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">4. Wrap with <code>div</code></h2>
        <p>Wrap different sections in different <code>div</code></p>

<pre>
<code>
&lt;div&gt;
    &lt;div&gt;
      &lt;h1&gt;Your name here&lt;/h1&gt;
      &lt;p&gt;The position you have/look for&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;h2&gt;Things I like&lt;/h2&gt;
      &lt;img src="images/sketch.png" alt="picture description"&gt;
      &lt;h3&gt;Sketch app&lt;/h3&gt;
      &lt;p&gt;Forget about Photoshop: Sketch gives you the power, flexibility and speed you always wanted in a lightweight and easy-to-use design app. Finally you can focus on what you do best&lt;/p&gt;
      &lt;a href="https://www.sketchapp.com/"&gt;Download sketch&lt;/a&gt;

      &lt;img src="images/17hi.png" alt="picture description"&gt;
      &lt;h3&gt;17Hi&lt;/h3&gt;
      &lt;p&gt;A night out in Shanghai and plenty of bars await. Sifting through the countless choices, how do you where to find that perfect drink? Join 17Hi club. Enjoy one free cocktail every day at bars on this app.&lt;/p&gt;
      &lt;a href="https://itunes.apple.com/us/app/17hi/id1175998644?mt=8/"&gt;Download 17Hi&lt;/a&gt;

      &lt;img src="images/airbnb.png" alt="picture description"&gt;
      &lt;h3&gt;Airbnb&lt;/h3&gt;
      &lt;p&gt;A worldwide online community marketplace that connects people looking to rent their homes with travelers who are looking for accommodations.&lt;/p&gt;
      &lt;a href="https://www.airbnb.com/rooms/9289518"&gt;Stay at my place&lt;/a&gt;
    &lt;div&gt;
&lt;/div&gt;
</code>
</pre>

      </section>
      <section class="readme-section">
        <h2 class="readme-header">5. Name your tags</h2>
        <ul>
          <li>Name your header and footer with <code>id</code> like <code>&lt;div id="header"&gt;</code> and <code>&lt;div id="footer"&gt;</code></li>
          <li>Name your features with <code>class</code> like <code>&lt;div class="card"&gt;</code></li>
          <li>Name your buttons with <code>class</code> like <code>class="btn"</code> and use the class <code>.input</code></li>
          <li>Then add this nice CSS code</li>
        </ul>
<pre><code>

.container{
  width: 500px;
  margin: 10px auto;
}

.card{
  background: white;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2)
}
.btn {
  padding: 10px;
  border-radius: 4px;
}

.btn-red {
    background-color: #C14953;
    color: white;
    font-weight: 500;
    transition: background 0s;
}

.btn-red:hover {
    background-color: #8E5F64;
    color: white;
    font-weight: 500;
    color:white;
    transition: background 0.5s;
}

</code></pre>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">6. Fontawesome</h2>
        <p>In your <code>head</code>, it's in your <code>head</code>!</p>
<pre>
<code>
  &lt;head&gt;
    &lt;link rel="stylesheet" href="https://apps.bdimg.com/libs/fontawesome/4.1.0/css/font-awesome.min.css"&gt;
  &lt;/head&gt;
</code>
</pre>
        <p>And then in a new "card"</p>
<pre>
<code>
&lt;div&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;&lt;i class="fa fa-weibo"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;&lt;i class="fa fa-weixin"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;&lt;i class="fa fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;&lt;i class="fa fa-github"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</code>
</pre>
        <p>With a bit of CSS style</p>

<pre>
<code>
  .fa a {
    color:#848FA5;
    text-decoration: none;
  }

  .fa a:hover {
    color:#2D2D2A;
    text-decoration: none;
    transition: color 0.2s;
  }
</code>
</pre>
      </section>
      <section class="readme-section">
        <h2 class="readme-header">9. Have fun with HTML&CSS!</h2>
        <ul>
          <li>We recommend you continue back home and <a href="https://www.codecademy.com/learn/learn-html-css">complete this free 101 course</a></li>
          <li>Tell us what you think! <a href="https://lewagonshanghai.typeform.com/to/pCKgzg">Fill in this feedback form</a> (2minutes only) ♥</li>
          <li>Change your life, learn to code in 2 months! ESSCA Alumni will get 10% off<a href="http://lewagon.com/shanghai">Program here</a></li>
        </ul>
      </section>
    </div>
  </div>
</div>
